{% comment %}
  This page represents the /collections and /products pages.
{% endcomment %}
  <!-- ======= Sub header Section ======= -->
  <section id="subheader" class="subheader">
        <div class="container">
          <div class="subheader-wrapper">
              <div class="list-view">
                      {% section 'collection-header' %}
                  </div>
              <div class="filters">
                  <div class="filters-option">
                      <span>Filter Concerns</span>
                      <div class="dropdown">
                          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Show All</button>
                          <ul class="dropdown-menu">
                              <div class="form-group has-search">
                                  <span class="fa fa-search form-control-feedback"></span>
                                  <input type="text" class="form-control form-search" placeholder="Search">
                              </div>
                              <div class="select-option d-flex">
                                  <span class="select">Select All</span>
                                  <span class="clear">Clear</span>
                              </div>
                              <li class="dropdown-item">
                                  <a class="option-link" href="#">
                                      <input name='options[]' type="checkbox" class="option justone" value='Option 1 '/>
                                      <label>Joint Pain</label>
                                  </a>
                              </li>
                              <li class="dropdown-item">
                                  <a class="option-link" href="#">
                                      <input name='options[]' type="checkbox" class="option justone" value='Option 1 '/>
                                      <label>Stress</label>
                                  </a>
                              </li>
                              <li class="dropdown-item">
                                  <a class="option-link" href="#">
                                      <input name='options[]' type="checkbox" class="option justone" value='Option 1 '/>
                                      <label>Eye</label>
                                  </a>
                              </li>
                              <li class="dropdown-item">
                                  <a class="option-link" href="#">
                                      <input name='options[]' type="checkbox" class="option justone" value='Option 1 '/>
                                      <label>Beauty</label>
                                  </a>
                              </li>
                              <li class="dropdown-item">
                                  <a class="option-link" href="#">
                                      <input name='options[]' type="checkbox" class="option justone" value='Option 1 '/>
                                      <label>Sleep</label>
                                  </a>
                              </li>
                          </ul>
                      </div>
                      <span>Sort By</span>
                      <div class="dropdown">
                          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select All</button>
                          <ul class="dropdown-menu">
                              <li class="dropdown-item d-flex">
                                  <div class="round">
                                      <input type="checkbox" id="checkbox" />
                                      <label for="checkbox"></label>
                                  </div>
                              Categories</li>
                              <li class="dropdown-item">Price: Low to High</li>
                              <li class="dropdown-item">Price: High to Low</li>
                              <li class="dropdown-item">Name A-Z</li>
                              <li class="dropdown-item">Name Z-A</li>
                          </ul>
                      </div>
                  </div>
                  <div class="filters-btn">
                      <button>Filters<img src="assets/images/filter.png" width="16" class="ml-2"></button>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- End Sub header -->



{% for collection in collections %}
  {% unless collection.handle == 'frontpage' %}
    <section class="banner-section">
      {% if collection.image != blank  %}
      <div class="container banner-image deskMode">
            {%- assign image_object = collection.image  -%}
            {% render 'responsive-image' with
              image: image_object,
              max_width: 480,
              max_height: 480
            %}
        </div>
        <div class="container banner-image mobileMode">
          {% if collection.metafields.collection_meta.mobile_banner != blank %}
          <img src="{{collection.metafields.collection_meta.mobile_banner}}">
          {% else %}           
            {%- assign image_object = collection.image  -%}
            {% render 'responsive-image' with
              image: image_object,
              max_width: 480,
              max_height: 480
            %} 
          {% endif %}
        </div>
      {% elsif collection.image == blank %}
          <div class="container banner" style="background-color:{{collection.metafields.collection_meta.bg_color}}">
            <div class="bannerText">
              <h2 class="heading">
                {{ collection.title }}
              </h2>
              <p class="subText">{{collection.description}}
              </p>
            </div>
          </div>
      {% endif %}
    </section>
  <section class="featured-products container ">
      <div class="">
      <div class="collection__products">
          {% for product in collection.products %}
           <div class="product-card">

           <a href="{{ product.url | within: collection }}">
                <div class="product-image-card row" style="background: linear-gradient(270.17deg, #fff 1.03%, rgba(255, 255, 255, 0) 99.94%), {{collection.metafields.collection_meta.bg_color}};">
                  {% if product.featured_image != blank %}
                    <div class="product-img">
                      <img class="product__img" src="{{ product.featured_image | img_url: '300x300' }}" alt="{{ product.featured_image.alt }}" />
                    </div>
                  {% endif %}
                    <div class="product-tags">

                      {% assign tags = product.metafields.product_meta.product_card_tags | split: ";" %}
                      {% assign tags_text = product.metafields.product_meta.product_card_tags_text | split: ";" %}
                      {% for tag in tags %}
                        {% assign index = forloop.index | minus: 1%}
                        <span>
                          {% capture tag_slug %}{{ tag | replace: " ", "_" | downcase }}{% endcapture %}
                          {% assign img_svg = tag_slug | append: '.png'%}
                          {% assign img_default = tag_slug | append: '.png'%}
                          <script>
                            $.noConflict();
                            $(document).ready(function(){
                              var valid_image = isImageValid('{{ img_svg | file_url }}');
                                if(!valid_image){
                                  $('.item-highlight-{{ forloop.index }}').attr('src', '{{ img_default | file_url }}');
                                }
                            });
                          </script>          
                          <img class='item-highlight-{{ forloop.index }}' src="{{ img_svg | file_url }}" alt="{{ tag_slug | escape }}">{{ tags_text[index] }}
                        </span>
                      {% endfor %}
                  </div>
                </div>

                <div class="row"> 
                  <div class="product-description">         
                     <div class="product-details position-relative">
                        <h3 class="product__title">{{ product.title }}</h3>
                       {% if product.metafields.product_meta.product_des != blank %}
                        <span>{{product.metafields.product_meta.product_des}}</span>
                      {% endif %} 
                    </div>
                     <div class="price-bar">
                        <div>
                            <p class="product__price product-price">{{ product.price | money_without_trailing_zeros | remove: "," }}</p>
                            {% if product.compare_at_price > product.price %}
                            <span class="product-sale-price" data-compare-price>
                                {{ product.compare_at_price | money_without_trailing_zeros | remove: "," }}
                            </span>
                          {% endif %}
                          <span class="product-offer">
                            {% assign savePrice = product.compare_at_price | minus: product.price %}
                              {% assign results = 0.000 | plus:savePrice | divided_by: product.compare_at_price | times: 100 | round %}
                               ({{ results }}% Off)
                           </span>
                        </div>
                        <div class="add-btn">
                           <button
                              type="submit"
                              name="add"
                              class="btn-text"
                              data-submit-button
                              {% unless current_variant.available %}disabled="disabled"{% endunless %}>
                                <span data-submit-button-text>
                                    + Add*
                                </span>
                            </button>
                        </div>
                     </div>
                   </div>
                </div>
              </a>
           </div>

          {% else %}
            {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
              {% for i in (1..8) %}
                <a href="#">
                  {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                  {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
                </a>

                <p>
                  <a href="#">{{ 'homepage.onboarding.product_title' | t }}</a>
                </p>

                <p>
                  {{ 1999 | money }}
                </p>
              {% endfor %}
            {% else %}
              <p>{{ 'collections.general.no_matches' | t }}</p>
            {% endif %}

          {% endfor %}
        </div>
      </div>
  </section>
  {% endunless %}
{% endfor %}
