{%- comment -%}
Documentation - http://docs.shopify.com/support/your-website/navigation/creating-a-breadcrumb-navigation
{%- endcomment -%}

{%- unless template == 'index' -%}
<div class="tt-breadcrumb">
  <div class="container">
    <ul itemscope itemtype="https://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" ><a href="/" itemprop="item" ><span itemprop="name">Home</span><meta itemprop="position" content="1"/></a></li>
      {%- if template contains 'product' -%}
      {% assign count = 1 %}
      {%- if collection -%}            
      {%- if collection.handle -%}
      {%- capture url -%}/collections/{{ collection.handle }}{%- endcapture -%}
      {% assign count = count | plus: 1 %}
      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><a href ="{{ collection.url }}" itemprop="item"><span itemprop="name">{{ collection.title }}</span></a><meta itemprop="position" content="{{ count }}" /></li>
      {%- endif -%}
      {%- endif -%}
      <li class="deskweb" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><span itemprop="name">{{ product.title }}</span><meta itemprop="position" content="{% assign count = count | plus: 1 %}{{ count }}" /></li>
      <li class="mobweb" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><span itemprop="name">{{ product.title | truncate: 12 }}</span><meta itemprop="position" content="{{ count }}" /></li>

      {%- elsif template contains 'collection' and collection.handle -%}
      {% assign count = 1 %}
      {%- if current_tags -%}
      {%- capture url -%}/collections/{{ collection.handle }}{%- endcapture -%}
      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" ><span itemprop="name">{{ collection.title | link_to: url }}</span><meta itemprop="position" content="{% assign count = count | plus: 1 %}{{ count }}" /></li>
      {%- else -%}
		<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" ><span itemprop="name">{{ collection.title | capitalize }}</span><meta itemprop="position" content="{% assign count = count | plus: 1 %}{{ count }}" /></li>
      {%- endif -%}

      {%- elsif template == 'article' -%}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><a href="{{ blog.url }}" itemprop="item"><span itemprop="name">{{ blog.title }}</span></a><meta itemprop="position" content="2" /></li>
        <li class="mobweb" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" ><span itemprop="name">{{ article.title | truncate: 22 }}</span><meta itemprop="position" content="3" /></li>
        <li class="deskweb" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><span itemprop="name">{{ article.title }}</span><meta itemprop="position" content="3" /></li>
      {%- elsif template contains 'customers' and template != "customers/account" -%}
      {%- assign account = 'customer.account.title_main' | t -%}
      <li>{{ account | capitalize | link_to: "/account" }}</li>
      <li>{{ page_title }}</li>

      {%- elsif template contains 'page' -%}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><span itemprop="name">{{ page.title }}</span><meta itemprop="position" content="2" /></li>

      {%- else -%}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><span itemprop="name">{{ page_title }}</span><meta itemprop="position" content="2" /></li>
      {%- endif -%}
    </ul>
  </div>
</div>
{%- endunless -%}