
<div class="collSortBy">
  <div class="sort-select sort-closed">All</div>
  <ul class="sort-list">
    <li class="sort-element" data-value="manual"><span class="sort-link">All</span></li>
    <li class="sort-element" data-value="best-selling"><span class="sort-link">{{ 'collections.sorting.best_selling' | t }}</span></li>
    <li class="sort-element" data-value="price-ascending"><span class="sort-link">{{ 'collections.sorting.price_ascending' | t }}</span></li>
    <li class="sort-element" data-value="price-descending"><span class="sort-link">{{ 'collections.sorting.price_descending' | t }}</span></li>
    <li class="sort-element" data-value="created-descending"><span class="sort-link">{{ 'collections.sorting.date_descending' | t }}</span></li>
    <li class="sort-element" data-value="created-ascending"><span class="sort-link">{{ 'collections.sorting.date_ascending' | t }}</span></li>
  </ul>
 </div>
