<script>
  function isImageValid(image_url){
    var http = new XMLHttpRequest();
    http.open('HEAD', image_url, false);
    http.send();
    return (http.status != 404);
}
</script>
<div class="container product-detail-tags">
  <div class="icon-list icon-list slider product-tag-slider">
  {% assign tags = product.metafields.product_meta.product-highlight-img | split: ";" %}
  {% assign tags_text = product.metafields.product_meta.product_hightlight_text | split: ";" %}
  {% for tag in tags %}
    {% assign index = forloop.index | minus: 1%}
    <div class="icon-box">
      {% capture tag_slug %}{{ tag | replace: " ", "_" | downcase }}{% endcapture %}
      {% assign img_svg = tag_slug | append: '.png'%}
      {% assign img_default = tag_slug | append: '.png'%}
      <script>
        $(document).ready(function(){
          var valid_image = isImageValid('{{ img_svg | file_url }}');
            if(!valid_image){
              $('.item-highlight-{{ forloop.index }}').attr('src', '{{ img_default | file_url }}');
            }
        });
      </script>          
      <div class="icon"><img class='item-highlight-{{ forloop.index }} icon-tag' src="{{ img_svg | file_url }}" alt="{{ tag_slug | escape }}"></div>
      <p class="icon-title">{{ tags_text[index] }}</p>
    </div>
  {% endfor %}
  </div>
</div>