<div class="accounts">
  <div class="list-view" role="tabpanel">
    <ul class="nav nav-tabs nav-justified nav-tabs-dropdown" role="tablist">
      <li role="presentation" class="active">
        <a href="#profile" aria-controls="profile" role="tab" class="active show" data-toggle="tab">My Profile</a>
      </li>
      <li role="presentation">
        <a href="#orders" aria-controls="orders" role="tab" data-toggle="tab">My Orders</a>
      </li>
    </ul>
    <div class="tab-content container m-auto">
      <div role="tabpanel" class="tab-pane active  contentBox" id="profile">
        <h3 class="header">My Profile</h3>
        <div class="form">
          <div class="name form-field">
            <p class="label">Name</p>
            <input class="form-control" type="text" placeholder="Name" value="{{customer.name}}" readonly>
          </div>
          {% if customer.phone != blank %}
            <div class="number form-field">
              <p class="label">Mobile</p>
              <input class="form-control" type="tel" placeholder="Mobile Number" value="{{customer.phone}}" readonly>
            </div>
          {% endif %}
          <div class="email form-field">
            <p class="label">Email</p>
            <input class="form-control" type="email" placeholder="Email id" value="{{customer.email}}" readonly>
          </div>

              <h5 class="subheader">Default Address</h5>
              <div class="address-block">
        {{ customer.default_address | format_address }}
              </div>

        </div>
          <a href="/account/addresses" class="view-address">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>

      </div>
       <div role="tabpanel" class="tab-pane" id="orders">
          <h3 class="header">My Orders</h3>
          {% paginate customer.orders by 20 %}
            {% if customer.orders.size != 0 %}
              <div class="product-order-card">

                  {% for order in customer.orders %}

                        <div class="order-name">
                            <div class="order-id">
                                {{ order.name | link_to: order.customer_url }}
                            </div>
                            <div class="product-name">
                                {% for line_item in order.line_items %}
                                {{ line_item.title | link_to: line_item.product.url }}
                                {% endfor %}
                            </div>
                        </div>

                        <div class="product-order-price">
                            <p class="price">{{ order.total_price | money }}</p>
                        </div>
                        <div class="product-order-status">
                          <p class="status">{{ order.financial_status_label }}</p>
                          <p class="date">Placed on: {{ order.created_at | date: format: 'month_day_year' }}</p>
                        </div>
                  {% endfor %}
              </div>
            {% else %}
              <p>{{ 'customer.orders.none' | t }}</p>
            {% endif %}

        {% if paginate.pages > 1 %}
          {% render 'pagination' %}
        {% endif %}

      {% endpaginate %}
      </div>
    </div>
  </div>
</div>