<div class="form-success hide container" data-reset-success>
  {{ 'customer.recover_password.success' | t }}
</div>

<div class="customer-account position-relative" data-login-form>
  <div class="container m-auto">
              {% form 'customer_login' %}

          <h4 class="form-title">{{ 'customer.login.title' | t }}</h4>

      <!--     <label for="CustomerEmail" class="label-hidden">
            {{ 'customer.login.email' | t }}
          </label> -->
          <input type="email"
                 name="customer[email]"
                 id="CustomerEmail"
                 class="customer-input{% if form.errors contains 'email' %}input-error{% endif %}"
                 placeholder="{{ 'customer.login.email' | t }}"
                 spellcheck="false"
                 autocomplete="off"
                 autocapitalize="off"
                 autofocus>

          {% if form.password_needed %}
      <!--       <label for="CustomerPassword" class="label-hidden">
              {{ 'customer.login.password' | t }}
            </label> -->
            <input type="password"
                   name="customer[password]"
                   id="CustomerPassword"
                   class="customer-input {% if form.errors contains 'password' %}input-error{% endif %}"
                   placeholder="{{ 'customer.login.password' | t }}">
          {% endif %}
      {{ form.errors | default_errors }}

          <input type="submit" class="button" title="{{ 'customer.login.sign_in' | t }}" value="{{ 'customer.login.sign_in' | t }}">
          <div class="link-block">
            <a class="action-link" href="/" title="{{ 'customer.login.cancel' | t }}">{{ 'customer.login.cancel' | t }}</a>

            <a class="action-link" href="/account/register" title="{{ 'layout.customer.create_account' | t }}">
              {{ 'layout.customer.create_account' | t }}
            </a>
          </div>
          <div class="link-block">
            {% if form.password_needed %}
              <a class="forgot-link" href="#" onclick="showRecoverPasswordForm();return false;" title="{{ 'customer.login.forgot_password' | t }}" data-recover-toggle>{{ 'customer.login.forgot_password' | t }}</a>
            {% endif %}
          </div>
        {% endform %}

      </div>
    
  </div>

<div id="recover-password" style="display:none;" class="customer-account" data-recover-form>
  <div class="container">
  
  {% form 'recover_customer_password' %}
    <h4 class="form-title">{{ 'customer.recover_password.title' | t }}</h4>
    <p>{{ 'customer.recover_password.subtext' | t }}</p>

    {{ form.errors | default_errors }}

    {% if form.posted_successfully? %}
      <span data-form-state></span>
    {% endif %}

<!--     <label for="RecoverEmail" class="label-hidden">
      {{ 'customer.recover_password.email' | t }}
    </label> -->
    <input type="email"
           name="email"
           id="RecoverEmail"
           class="customer-input"
           placeholder="{{ 'customer.recover_password.email' | t }}"
           spellcheck="false"
           autocomplete="off"
           autocapitalize="off">

    <input type="submit" class="button" value="{{ 'customer.recover_password.submit' | t }}">
  <div class="link-block">
        <a href="#" onclick="hideRecoverPasswordForm();return false;" class="action-link" type="button" data-recover-toggle>
          {{ 'customer.recover_password.cancel' | t }}
        </a>
  </div>
  {% endform %}
  </div>
</div>

{% if shop.checkout.guest_login %}
  <h2>{{ 'customer.login.guest_title' | t }}</h2>

  {% form 'guest_login' %}
    <input type="submit" class="button" value="{{ 'customer.login.guest_continue' | t }}">
  {% endform %}
{% endif %}

<script type="text/javascript">
  function showRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'block';
    document.getElementById('customer_login').style.display='none';
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'none';
    document.getElementById('customer_login').style.display = 'block';
  }

  if (window.location.hash == '#recover') { showRecoverPasswordForm() }
</script>