{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}

  <section data-section-id="{{ section.id }}" data-section-type="header" class="header-section">
    {%- if section.settings.announcement_bar_enabled -%}
      <div class="container">
        {%- if section.settings.announcement_bar_home_page_only == false or template.name == 'index' -%}
          {%- if section.settings.announcement_bar_link != blank -%}
            <a href="{{ section.settings.announcement_bar_link }}">
              {{ section.settings.announcement_bar_text | escape }}
            </a>
          {%- else -%}
            <p>{{ section.settings.announcement_bar_text | escape }}</p>
          {%- endif -%}
        {%- endif -%}
      </div>
    {%- endif -%}

    <header role="banner" class="header container">
      <div class="header-left-logo">
        <div  class="hamburger position-relative">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <a href="/" class="logo" title="{{ section.settings.logo.alt | default: shop.name }}"> 
          {% if section.settings.logo != blank %}
            {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
            <img src="{{ section.settings.logo | img_url: image_size }}"
                srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                alt="{{ section.settings.logo.alt | default: shop.name }}">
          {% else %}
            {{ shop.name }}
          {% endif %}
        </a>
      </div>
      <div class="header-right-logo">
        <form action="/search" method="get" role="search">
          <button type="submit" class="search-button" title="Search">
            {{ 'search.svg' | asset_url | img_tag: 'search', 'search' }}
          </button>
        </form>
        {% if shop.customer_accounts_enabled %}
          <span class="account-links" title="account">
            {{ 'user.svg' | asset_url | img_tag: 'user', 'user' }}
            <ul class="user-account d-none">
              {% if customer %}
                <li>
                  {% if customer.first_name != blank %}
                    <a href="/account">{% capture first_name %}{{ customer.first_name }}{% endcapture %}
                    Welcome, {{ customer.first_name | capitalize}}</a>
                  {% else %}
                    <a href="/account">{{ 'layout.customer.account' | t }}</a>
                  {% endif %}
                </li>
                <li>
                  {{ 'layout.customer.log_out' | t | customer_logout_link }}
                </li>
              {% else %}
                <li>
                  {{ 'layout.customer.log_in' | t | customer_login_link }}
                </li>
                <li>
                  {{ 'layout.customer.create_account' | t | customer_register_link }}
                </li>
              {% endif %}
            </ul>
          </span>
        {% endif %}

        <a href="/cart" class="position-relative" title="cart">
          {{ 'cart.svg' | asset_url | img_tag: 'cart', 'cart' }}
          <div class="cart-count">
            <span data-cart-count>{{ cart.item_count }}</span><span class="visually-hidden"> {{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
          </div>
        </a>
      </div>
      <nav role="navigation" class="nav container menu-list d-none">
        <div class="menu-links">
          <a class="link">All Products<span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></a>
          <a class="close"><span><i class="fa fa-times" aria-hidden="true"></i></span>Close</a>
        </div>
        <ul>
          {% for link in linklists[section.settings.menu].links %}
            {% if link.links != blank %}
              <li>
                <a href="{{ link.url }}">
                  {{ link.title }}
                  {% render 'icon-arrow-down' %}
                </a>
                <ul class="submenu">
                  {% for childlink in link.links %}
                    <li class="child-menu">
                      <a href="{{ childlink.url }}">
                        {{ childlink.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li>
                <a href="{{ link.url }}">
                  {{ link.title }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
      <div class="mobile-menu">
        <a href="/" class="logo">
          {% if section.settings.logo != blank %}
            {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
            <img src="{{ section.settings.logo | img_url: image_size }}"
                srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                alt="{{ section.settings.logo.alt | default: shop.name }}">
          {% else %}
            {{ shop.name }}
          {% endif %}
        </a>
        {% if shop.customer_accounts_enabled %}
          <span>
              {% if customer %}
                <span class="account d-block">
                  {% if customer.name != blank %}
                    <a href="/account">{{ 'user-icon.svg' | asset_url | img_tag: 'user', 'user-mobile' }}{% capture name %}{{ customer.name }}{% endcapture %}
                  Welcome, {{ customer.name }}</a>
                  {% else %}
                    <a href="/account">{{ 'layout.customer.account' | t }}</a>
                  {% endif %}
                </span>
                {% else%}
                <span class="account d-block"> <a href="/account">{{ 'user-icon.svg' | asset_url | img_tag: 'user', 'user-mobile' }} Login / Register</a>
                </span>
              {% endif %}
          </span>
          {% endif %}

          <nav role="navigation" class="nav container menu-list menu-list-mobile">
            <div class="menu-links-mobile">
              <a class="link">All Products</a>
            </div>
            <ul class="mweb-mobile-menu">
              {% for link in linklists[section.settings.dynamic].links %}
                {% if link.links != blank %}
                  <li class="main-child-menu">
                    <a href="{{ link.url }}">
                      {{ link.title }}
                      {% render 'icon-arrow-down' %}
                    </a>
                    <ul class="submenu">
                      {% for childlink in link.links %}
                        <li class="child-menu">
                          <a href="{{ childlink.url }}">
                            {{ childlink.title }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                  <li>
                    <a href="{{ link.url }}">
                      {{ link.title }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
            <ul class="static-menu">
              {% for link in linklists[section.settings.static].links %}
                {% if link.links != blank %}
                  <li class="main-child-menu-static">
                    <a href="{{ link.url }}">
                      {{ link.title }}
                      {% render 'icon-arrow-down' %}
                    </a>
                    <ul class="submenu-static">
                      {% for childlink in link.links %}
                        <li class="child-menu-static">
                          <a href="{{ childlink.url }}">
                            {{ childlink.title }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                  <li>
                    <a href="{{ link.url }}">
                      {{ link.title }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
            {% if shop.customer_accounts_enabled %}
              <ul class="account-details">
                {% if customer %}
                  <li>
                    <a href="#">Profile</a>
                  </li>
                  <li>
                    <a href="">My Orders</a>
                  </li>
                  <li>
                    <a href="/account/logout">
                      {{ 'logout.svg' | asset_url | img_tag: 'logout', 'logout' }}
                      {{ 'layout.customer.log_out' | t | customer_logout_link }}
                    </a>
                  </li>
                {% endif %}
              </ul>
            {% endif %}
          </nav>
        </div>
      <a class="close-icon d-none">{{ 'close-icon.svg' | asset_url | img_tag: 'close' }}</a>
      <div class="overlay d-none"></div>
    </header>
  </section>

{% if section.settings.logo != blank %}
  <style>
    .logo-image {
      display: block;
      max-width: {{ section.settings.logo_max_width }}px;
    }
  </style>
{% endif %}

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_enabled",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_home_page_only",
        "label": "Show on home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "announcement_bar_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "announcement_bar_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "dynamic",
        "label": "Dynamic Mobile Menu",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "static",
        "label": "Sattic Mobile Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
